[alias]
    st = status -s
    co = checkout
    ci = commit
    df = diff
    dfh = diff HEAD
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    out = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit @{u}..HEAD
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    contributors = shortlog --summary --numbered
    stashow = "!sh -c 'git stash show -p stash@{$1}' -"

    ; Remove branches that have already been merged with master
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    ; JSHint modified JS files
    jshint = !jshint $(git diff-index --name-only HEAD | grep -E "\\.js$")

    ; Archive
    backup = !git archive HEAD | bzip2

[core]
    editor = vim
	excludesfile = /home/bradley/.gitignore_global
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R

[push]
	default = current

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[include]
    path = ~/.gitconfig.local
